<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rachma.tn.team.binary.rachma">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".ChooseGame">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rummy.RummySetting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".belote.BeloteSetting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".belote.BeloteScoreBoard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".belote.Winner"
            android:screenOrientation="portrait" />
        <activity
            android:name=".rummy.RummyScoreTaking"
            android:label="@string/score_keeping"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".rummy.RummyGameEnded"
            android:screenOrientation="portrait" />

        <activity
            android:name=".rummy.ScoreStats"
            android:label="@string/score_stats"
            android:screenOrientation="landscape" />
    </application>

</manifest>